/* Removal of auto padding and margins */
body {
    margin: 0;
}

/* Header section */
h1 {
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}
/* Auto header */
.auto {
    background: linear-gradient(to right, #046b40, #C2e48b);
    color: white;
}
/* Sunny header */
.sunny {
    background: linear-gradient(to right, #F99105, #F0f579);
    color: white;
}
/* Rainy header */
.rainy {
    background: linear-gradient(to right, #0b038c, #107eb1);
    color: white;
}
/* Snowy header */
.snowy {
    background: linear-gradient(to right, #Adadb1, white);
}
/* Night header */
.night {
    background: linear-gradient(to right, black, #092733);
    color: white;
}

/* City search section */
#column-one {
    margin-left: 10px;
    width: 25%;
    text-align: center;;
}

#columns {
    display: flex;
}
.search-header {
    font-size: 30px;
}
.city-search {
    border-bottom: solid;
}

.city-form {
    display: flex;
    margin: 15px auto;
    padding: 10px 0;
}

.city-form {
    width: 90%;
}
.btn {
    width: 91.5%;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px
}
/* btn gradients */
.auto-btn {
    background: linear-gradient(to right, #046b40, #388a53);
}
.sunny-btn {
    background: linear-gradient(to right, #F99105, #F0f579);
}
.rainy-btn {
    background: linear-gradient(to right, #0b038c, #107eb1);
}
.snowy-btn {
    background: linear-gradient(to right, #Adadb1, white);
}
.night-btn {
    background: linear-gradient(to right, black, #092733);
}

.auto-btn, .sunny-btn, .rainy-btn, .snowy-btn, .night-btn {
    color: white;
}

/* card gradients
.auto-card {
    background: linear-gradient(to right, #046b40, #388a53);
}
.sunny-card {
    background: linear-gradient(to right, #F99105, #F0f579);
}
.rainy-card {
    background: linear-gradient(to right, #0b038c, #107eb1);
}
.snowy-card {
    background: linear-gradient(to right, #Adadb1, white);
}
.night-card {
    background: linear-gradient(to right, black, #092733);
}
.auto-card, .sunny-card, .rainy-card, .night-card {
    color: white;
} */

input.city-form {
    text-align: center;
}

ul {
    list-style-type: none;
    width: 90%;
}

.displayed-city {
    width: 65%;
}

#searched {
    display: flex;
    flex-direction: column;
}
